#NameBox {
  width: 224px;
  height: 60px;
  border-radius: 10px;
  background-color: rgb(156, 171, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}
#Name {
  font-size: 20px;
}
#ImageBox {
}
#ヌヴィレット {
  width: 100%;
  height: 100%;
  margin: 40px 10px 0px 0px;
}
#マッシュラプトル {
  width: 100%;
  height: 100%;
}

#StatusBox {
  width: 400px;
  height: 600px;
  border-radius: 10px;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: absolute;
  left: 600px;
}
#EnemyImageBox {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(253, 247, 247);
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1000px;
  font-size: 30px;
}
#EnemyStatusBox {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(253, 247, 247);
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1300px;
  font-size: 30px;
}
#DamageBox {
  width: 600px;
  height: 330px;
  border-radius: 10px;
  background-color: rgb(253, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 400px;
  left: 1000px;
  font-size: 30px;
}
